body {
    background-color: #f3f3ff;
    margin: 20px 330px 20px 330px;
}

.cabecalho {
    padding: 15px;
    background-color: #f3f3ff;
    color: black
}

.titulo_nav {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    right: 0;
    top: 40%;
}
    
.itemMenu {
    display: inline;
    margin: 0 0 0 15px;
}

.linkMenu {
    text-decoration: none;
    text-transform: uppercase;
    color: #2a95be;
    font-weight: bold;
    font-size: 20px;
}

.titulo{
    color: #2a95be;
    background-color:#d4f1ff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 30px 0;

}

main {
    margin: 0 auto;
    padding-left: 160px;
    padding-right: 160px;
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 10x;
}

.input-padrao{
    display: block;   
    padding: 10px 25px;
    width: 95%;
    margin: 0 0 30px 0;
}

.checkbox {
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 20px 20px 20px 20px;
    background-color: #a1dbf8;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    }

.enviar:hover {
    background-color: #2a95be;
}

.rodape{
    text-align: center;
    background-color:#d4f1ff;
    margin: 40px 0 40px 0;
}

a:hover{
    color: #ffcbd9;
    font-size: 150%;
}